<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Olimpia</title>

	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		  crossorigin="anonymous">

</head>
<body>

<div th:insert="navbar :: navbar">  </div>
</br>
<div class="container my-2">
	<h1>Seven days without exercise makes one weak</h1>
	<img src="../static/images/sam-moqadam-0sa8D74iodI-unsplash.jpg" width="1200" th:src="@{images/sam-moqadam-0sa8D74iodI-unsplash.jpg}"/>

</div>
</body>
</html>
